.img-thumbnail {
      height: 170px;
    }

    nav {
      float: right;
    }

    a {
      color: #FF7519;
      text-decoration: none;
      font-weight: bold;
    }

    a hover {
      color: #FFF;
      text-decoration: underline;
    }

    .current {
      color: #FFF;
      text-decoration: underline;
    }

    ul {
      list-style: none;
    }

    nav ul li {
      display: inline-block;
      float: left;
      padding: 10px;
    }

    header {
      height: 50px;
      padding: 0px 25px 10px 0;
      z-index: 100;
      opacity: 0.90;
     -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    font-family: gouldy30;
    -moz-box-shadow: #135352 2px 2px 10px;
    -webkit-box-shadow: #135352 2px 2px 10px;
    box-shadow: #135352 2px 2px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: .7em;
    }
